<h1>Спасибо тебе огромное, друг!!!</h1>
<p>Мне очень важно твое мнение. Прошу поучавствовать во втором этапе созданного мной опроса. Для этого нужно будет точно так же пройти по ссылке, которую я вышлю тебе после того, как выскажут свои мнения все участники. Ты увидешь все мнения всех участников, и прошу отнесись к этому ответственно, тебе нужно будет расставить все эти мнения по степени важности (как ты считаешь). Это поможет мне в итоге получить объективное мнение обо мне окружающих меня людей. Действуй смелее, я увижу только конечный результат (мне не будет известно кто какое мнение высказал, что не позволит каким-либо образом повлиять на наше взаимоотношение).</p>
<p>А я буду видеть над чем мне в первую очередь нужно поработать, что бы более гармонично вписываться в ваше (наше:)) окружение</p>
<p></p>
<p>P.S. Заметь, что ты тоже можешь создать такой опрос (если ты достаточно смелый, чтобы услышать всю объективную правду о себе:)) Для этого нужно <%= link_to 'зарегестрироваться', new_user_registration_path %>, и выполнить соответствующие инструкции</p>
